/* MUST be first */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* Then Tailwind */
@import "tailwindcss";

/* Global font */
body {
  font-family: "Ubuntu", sans-serif;
}

/* Your animation */
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slideLeft 25s linear infinite;
}
.form-input {
  @apply w-full bg-white
  border border-gray-300
  rounded-xl
  px-5 py-3.5
  text-gray-900 text-[15px]
  placeholder-gray-400
  focus:outline-none
  focus:border-[#6C7CFF]
  focus:ring-2 focus:ring-[#6C7CFF]/20
  transition;
}

.form-textarea {
  @apply w-full bg-white
  border border-gray-300
  rounded-xl
  px-5 py-3.5
  text-gray-900 text-[15px]
  placeholder-gray-400
  focus:outline-none
  focus:border-[#6C7CFF]
  focus:ring-2 focus:ring-[#6C7CFF]/20
  resize-none
  transition;
}

